$color-primary: rgb(209, 69, 209);
$color-header: #222222;
$color-text: #fbfbfb;
$color-gradient: (#021AEE, #D602EE);
$text-gradient: (#23e2ce, #e22336);
$color-footer: #222222;
.container {
    padding: 0;
}

.main {
    min-height: 100vh;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-header;
    .mainSection {
        margin-top: 10px;
        text-align: center;
        color: $color-text;
        .title {
            margin: 0px;
            // line-height: 1.15;
            font-size: 4rem;
        }
        .desc {
            width: 50%;
            margin: 5px auto;
            font-size: 1.125rem;
        }
        button {
            background-image: -webkit-linear-gradient(left, $color-gradient);
            background-image: -moz-linear-gradient(left, $color-gradient);
            background-image: -ms-linear-gradient(left, $color-gradient);
            background-image: -o-linear-gradient(left, $color-gradient);
            background-image: linear-gradient(to right, $color-gradient);
            border-radius: 10px;
            color: $color-text;
            font-size: 20px;
            padding: 10px 30px;
            text-decoration: none;
            border: none;
            margin: 30px auto;
            cursor: pointer;
             :hover {
                text-decoration: none;
            }
        }
    }
}

.header {
    padding: 1.5rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    font-size: 24px;
    color: $color-text;
    nav {
        justify-content: space-evenly;
        justify-content: space-evenly;
        a {
            cursor: pointer;
            padding-left: 1em;
            padding-right: 1em;
        }
        button {
            padding: 10px;
            border-radius: 10px;
            font-size: large;
            font-weight: bold;
            border: none;
            // Transition
            transition: all 300ms ease-in-out;
             :hover {
                background: -webkit-radial-gradient($text-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .url {
        text-align: center;
    }
    .logo {
        font-size: 30px;
        font-weight: bold;
        background: -webkit-radial-gradient($color-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.footer {
    align-items: center;
    background-color: $color-footer;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 2rem 0;
    flex-direction: column;
    color: $color-text;
    hr {
        width: 88%;
    }
    a {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    span {
        padding: 10px 0 20px;
        margin: 10px 0;
    }
}

// From vercel.
.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card:hover,
.card:focus,
.card:active {
    color: $color-primary;
    border-color: $color-primary;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    h2 {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
    }
    p {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}